In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../Data/patients.csv')
df.head()

   subject_id gender  anchor_age  anchor_year anchor_year_group        dod
0    10000032      F          52         2180       2014 - 2016   9/9/2180
1    10000048      F          23         2126       2008 - 2010        NaN
2    10000058      F          33         2168       2020 - 2022        NaN
3    10000068      F          19         2160       2008 - 2010        NaN
4    10000084      M          72         2160       2017 - 2019  2/13/2161